<div class="jumbotron center">
  <img src="https://img.discogs.com/AkvijwuTQUZbo4Z37Qwwhg3ymVk=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/A-21742-1505067253-1678.jpeg.jpg">
</div>